<!-- app/views/admin/badges/edit.html.erb -->
<h1><%= t('admin.badges.edit.header') %></h1>

<%= render 'form', badge: @badge %>

<%= link_to t('shared.actions.back'), admin_badges_path, class: 'btn btn-secondary' %>