<!-- app/views/admin/users/edit.html.erb -->
<div class="card">
  <div class="card-header">
    <h5 class="mb-0"><%= t('admin.users.edit') %></h5>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>